{%  extends 'main.html' %}
{% load static %}

{% block content %}

<center> <img src={% static "images\designedimg.png" %} alt="bi_img" width="1260" height="300"> </center>
   
<div class="mainabout">
 <br>
 <center>
    <font size="+2"> <p> <span style="color: #FF9033;"> AmdBI</span>  Web application is a
     <span style="color: #FF9033 ;">BI tool</span>
     that allow <span style="color: #FF9033 ;"> Amdocs</span> costumers to explore 
     their business data by <span style="color: #FF9033 ;"> modern analytics solutions</span>.
     <br>
     <span style="color: #FF9033;"> AmdBI</span> converts your company information from 
     ununderstandable tables into a clear and interactive 
     <span style="color: #FF9033 ;"> visualizations</span> that helps you get 
     <span style="color: #FF9033 ;"> insights and make decisions</span> 
     about your company, products and costumers based on these 
     <span style="color: #FF9033 ;"> BI reports</span>.</p>  </font>
</center>
     
</div> 
{% endblock %}