
<div class="split left">
	<div class="left">
		<font style="text-align: center;"><h3> Signature Plans+ </h3></font>
  		<div class="row">
			<div class="column">
				<div class="card2">
					<h6>Lite</h6>
					<font style="font-size:11px;"> <p class="card-title">5 GB Data <br> Unli Allnet Calls& Texts <br> Unli Landline <br>P599/mo <br> <br> </p></font>
				</div>
			</div>
		
			<div class="column">
				<div class="card2">
					<h6>Plan S+</h6>
					<font style="font-size:11px;"> <p class="card-title">20 GB Data <br> Unli Allnet Calls& Texts <br> Unli Landline <br> P999/mo <br>  <br> </p></font>
				</div>
			</div>
			
			<div class="column">
				<div class="card2">
					<h6>Plan M+</h6>
					<font style="font-size:11px;"> <p class="card-title">40 GB Data <br> Unli Allnet Calls& Texts <br> Unli Landline <br> P1,499/mo <br> <br> </p></font>
				</div>
			</div>
			
			<div class="column">
				<div class="card2">
					<h6>Plan L+</h6>
					<font style="font-size:11px;"> <p class="card-title">UNLI 5G (12m)<br>60 GB Data <br> Unli Allnet Calls& Texts <br> Unli Landline - P1,999/mo</p></font>
			</div>
			</div>
			
			<div class="column">
				<div class="card2">
					<h6>Plan XL+</h6>
					<font style="font-size:11px;"> <p>UNLI 5G (4G/5G)<br> Unli Allnet Calls& Texts <br> Unli Landline <br> P2,499/mo<br></p></font>
				</div>
			</div>
 	 	</div>
	</div>
</div>


<div class="split right">
	<div class="right">
		<font style="text-align: center;"><h3> Signature Device Plans  </h3></font>
  		<div class="row">
			<div class="column">
				<div class="card1">
					<h6>Lite</h6>
					<font style="font-size:11px;"><p>2.5 GB Data <br> Unli Allnet Calls& Texts <br> 25 Mins Calls to PLDT <br> P599/mo</p>
					</font>
				</div>
			</div>
		
			<div class="column">
				<div class="card1">
					<h6>Plan S+</h6>
					<font style="font-size:11px;"> <p class="card-title">5 GB Data <br> Unli Allnet Calls& Texts <br> 50 Mins Calls to PLDT <br> P999/mo</p></font>
				</div>
			</div>
			
			<div class="column">
				<div class="card1">
					<h6>Plan M+</h6>
					<font style="font-size:11px;"> <p class="card-title">10 GB Data <br> Unli Allnet Calls& Texts <br> 100 Mins Calls to PLDT <br> P1499/mo</p></font>
				</div>
			</div>
			
			<div class="column">
				<div class="card1">
					<h6>Plan L+</h6>
					<font style="font-size:11px;"> <p class="card-title">15 GB Data <br> Unli Allnet Calls& Texts <br> 150 Mins Calls to PLDT <br> P1999/mo</p></font>
			</div>
			</div>
			
			<div class="column">
				<div class="card1">
					<h6>Plan XL+</h6>
					<font style="font-size:11px;"> <p>30 GB Data <br> Unli Allnet Calls& Texts <br> 300 Mins Calls to PLDT <br> P2999/mo</p></font>
				</div>
			</div>
 	 	</div>
	</div>
</div>

{% comment %} 
<div class="split left">
	<div class="left">
		<h2> Signature Plans+ </h2>
				
		<div class="row" >

			<div class="col px-0 ">
				<div class="col-md">
					<div class="card text-center text-black  mb-3" style= "flex: 20%;" id="lite">
						<div class="card-header">
							<h5 class="card-title">Lite</h5>
						</div>
						<div class="card-body">
							<p class="card-title">5 GB Data <br> Unli Allnet Calls& Texts <br> Unli Landline <br>P599/mo</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col px-0">
				<div class="col-md">
					<div class="card text-center text-black  mb-3"  style= "flex: 20%;" id="orders-delivered">
						<div class="card-header">
							<h5 class="card-title">Plan S+</h5>
						</div>
						<div class="card-body">
							<p class="card-title">20 GB Data <br> Unli Allnet Calls& Texts <br> Unli Landline <br> P999/mo</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col px-0">
				<div class="col-md">
					<div class="card text-center text-black  mb-3"  style= "flex: 20%;" id="orders-pending">
						<div class="card-header">
							<h5 class="card-title">Plan M+</h5>
						</div>
						<div class="card-body">
							<p class="card-title">40 GB Data <br> Unli Allnet Calls& Texts <br> Unli Landline <br> P1,499/mo</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col px-0">
				<div class="col-md">
					<div class="card text-center text-black  mb-3"  style= "flex: 20%;" id="orders-delivered">
						<div class="card-header">
							<h5 class="card-title">Plan L+</h5>
						</div>
						<div class="card-body">
							<p class="card-title">UNLI 5G (12m) <br> 60 GB Data <br> Unli Allnet Calls& Texts <br> Unli Landline <br> P1,999/mo</p>
						</div>
					</div>
				</div>
			<div class="col px-0">
				<div class="col-md">
					<div class="card text-center text-black  mb-3"  style = "flex: 20%;" id="orders-delivered">
							<div class="card-header">
								<h5 class="card-title">Plan XL+</h5>
							</div>
							<div class="card-body">
							<p>UNLI 5G (4G/5G)<br> Unli Allnet Calls& Texts <br> Unli Landline <br> P2,499/mo</p>
							</div>
					</div>
				</div>
			</div>
		</div> 

	</div> 


<div class="split right">
	<div class="center">
	<h1 > Signature Device Plans </h1>
	<div class="row">
		<div class="col">
			<div class="col-md">
				<div class="card text-center text-black  mb-3" id="lite">
					<div class="card-header">
						<h3 class="card-title">Lite</h3>
					</div>
					<div class="card-body">
						<h5 class="card-title">2.5 GB Data <br> Unli Allnet Calls& Texts <br> 25 Mins Calls to PLDT <br> P599/mo</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="col-md">
				<div class="card text-center text-black  mb-3" id="orders-delivered">
					<div class="card-header">
						<h3 class="card-title">Plan S</h3>
					</div>
					<div class="card-body">
						<h5 class="card-title">5 GB Data <br> Unli Allnet Calls& Texts <br> 50 Mins Calls to PLDT <br> P999/mo</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="col-md">
				<div class="card text-center text-black  mb-3" id="orders-pending">
					<div class="card-header">
						<h3 class="card-title">Plan M</h3>
					</div>
					<div class="card-body">
						<h5 class="card-title">10 GB Data <br> Unli Allnet Calls& Texts <br> 100 Mins Calls to PLDT <br> P1499/mo</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="col-md">
				<div class="card text-center text-black  mb-3" id="orders-delivered">
					<div class="card-header">
						<h3 class="card-title">Plan XL</h3>
					</div>
					<div class="card-body">
						<h5 class="card-title">15 GB Data <br> Unli Allnet Calls& Texts <br> 150 Mins Calls to PLDT <br> P1999/mo</h5>
					</div>
				</div>
			</div>
		</div>
		</div>

		<div class="col">
			<div class="col-md">
				<div class="card text-center text-black  mb-3" id="orders-delivered">
					<div class="card-header">
						<h3 class="card-title">Plan L</h3>
					</div>
					<div class="card-body">
						<h5 class="card-title">30 GB Data <br> Unli Allnet Calls& Texts <br> 300 Mins Calls to PLDT <br> P2999/mo</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>  {% endcomment %}
